{
  "openapi": "3.1.0",
  "info": {
    "title": "Public Developer API",
    "version": "1.0",
    "summary": "The first public facing API for the entire Kelpstone/Kelpcorp francise, including but not limited to, statistics, account data, achievements, quests, forums, linked accounts and so much more.",
    "contact": {
      "name": "Nathanna (a.k.a. \"Piggy\" or \"Tonya)",
      "url": "https://kelpstone.com/forums/players/pigerly/dm?from=apisite&subject=Your%20title%20here.%20%28API%20Inquiry%29&placeholder_2=Describe%20the%20problem%20with%20detail%20and%20show%20code%20or%20urls%20used%20to%20enduce%20the%20API%20erro.%20If%20your%20using%20a%20authorized%20API%2C%20theres%20no%20need%20to%20include%20the%20keys%20or%20values%2C%20unless%20your%20using%20someone%20elses%20Kelpauth%20account%2C%20it%20is%20linked%20to%20your%20Kelpforums%20account."
    },
    "termsOfService": "https://kelpstone.com/legal/policies/terms-of-service",
    "license": {
      "name": "GNU AGPLv3",
      "identifier": "AGPL-3.0-or-later"
    },
    "description": "The first public facing API for the entire Kelpstone/Kelpcorp francise, including but not limited to, statistics, account data, achievements, quests, forums, linked accounts and so much more.\n\n| Property     | Boolean |\n| ------------ | ------  |\n| Maintained   | True    |\n| Supported    | True    |\n| Trial Stage  | Alpha   |\n\n<p align=\"center\">Latest Phasing Information: <a href=\"https://api.kelpstone.com/v1\">AS JSON</a></p>"
  },
  "servers": [
    {
      "url": "http://api.kelpstone.com/public/v1",
      "description": "Primary"
    },
    {
      "url": "https://api.kelpstone.com/public/v1",
      "description": "Secondary (Primary SSL)"
    },
    {
      "url": "https://maintenance.kelpstone.com/api/v1",
      "description": "Maintenance Backup Cache (Previously Executed Requests Only)"
    }
  ],
  "components": {
    "securitySchemes": {
      "Kelpauth® App Tokens": {
        "name": "Authority",
        "type": "apiKey",
        "in": "header",
        "description": "### Only With The Signature\n**QUERY ONLY** - The signature paramater allows input of a string containing alphabetically formatted properties from the request, encrypted using your developer application's private key. The server generates a hash from the properties on the backend and verifies the signature before continuing with the exchange.\n#### Definition\nYou will need to use `?signature=` to supply your developer app's md5-encoded signature blob, and `?client=` to supply the public key. To read how to generate and format one go to the page [Security Signatures 101]() and follow the steps for your language.\n\n*Unlike user tokens, you may only supply one developer app token in a signature... for now. 😉*\n\n#### Distrobution\nIn order to get a developer app and the public and private key, you'll need to visit [dap.kelpstone.com (Developer App Portal)](http://dap.kelpstone.com?show=my_apps&tutorial=true), sign into your account and create an application with limited permissions. Unless you want to wait for approval, use the playground permission settings to experiment on your own account.\n\n#### Protocol\nTwo conjoining query additions that you provide when making API calls. Specify the developer app's public key in a query parameter called Client and the hash in a query parameter called Signature.\n\nExample: `?client=123&signature=202cb962ac59075b964b07152d234b70`\n\n### Adding User-Authorized Scopes\n**HEADER ONLY** - ​User-authorized scoped tokens which allow developer applications to edit and acess secret or protected information from or to a users profile, settings and content.\n\n#### Definition\nYou can use either `Authorities` or `Authority` to optionally suply user authorized developer app scope tokens. You can include as many tokens as you need, seperated by a comma. It does not matter which header name you use, both allow for one or more items.\n\n#### Distrobution\nIn order to get your developer app authorized for control over user account details, you'll need to prompt them first. Authorization methods include, prompting them to run a command ingame or redirecting them to an KelpAuth splash screen which allows them to grant the permisions. Both of which will return a token to the iniating api call's host.\n\n#### UProtoco"
      }
    },
    "schemas": {},
    "requestBodies": {},
    "parameters": {
      "Client": {
        "name": "client",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "minLength": 32,
          "maxLength": 36
        },
        "description": "Your developer applications public client identifier, normally formatted with UUID.\n\n**__Note:__ You do not need to include the dash separators in the input.**"
      },
      "Signature": {
        "name": "signature",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "md5",
          "example": "202cb962ac59075b964b07152d234b70",
          "minLength": 32,
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]+"
        },
        "description": "A blob of yml formatted following the guide md5 hashed with your application's private key."
      },
      "Record": {
        "name": "record",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 18318
        },
        "description": "A schema-unique identifier for internal databases and body object referencing methods."
      },
      "Authority": {
        "name": "Authority",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "​User-authorized scoped tokens which allow developer applications to edit and acess secret or protected information from or to a users profile, settings and content."
      }
    }
  },
  "security": [
    {
      "Kelpauth® Developer Key - In Any Mode": []
    }
  ],
  "tags": [
    {
      "name": "v1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Fetch Protocol Information",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Returns information relative to support activity and maintenance status of the V1 API architecture.",
                  "properties": {
                    "result": {
                      "$ref": "../models/meta/ProtocolInformation.json"
                    },
                    "error": {
                      "type": "boolean",
                      "default": false,
                      "description": "Responds with boolean depending on if the backend servers ran into an error with the parameters or permissions checks.",
                      "readOnly": true
                    }
                  },
                  "required": [
                    "result",
                    "error"
                  ],
                  "readOnly": true
                },
                "examples": {
                  "Example": {
                    "value": {
                      "result": {
                        "protocol": {
                          "identifier": "string",
                          "name": "string",
                          "subversions": [
                            "1.0.0",
                            "1.0.1",
                            "1.0.2",
                            "1.0.3",
                            "1.0.4"
                          ]
                        },
                        "support": {
                          "cycleStart": "2014-08-29 16:19:50",
                          "notRecommended": "2009-09-14 11:27:06",
                          "onlyCriticalBugs": "2016-10-29 01:32:34",
                          "cycleEnd": "2023-02-18 23:32:16"
                        },
                        "latest": true
                      },
                      "error": false
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "fetch-protocol-info",
        "description": "Returns information relative to meta details, support expectancy and maintenance status of the v1 architecture.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-09-14"
            },
            "in": "query",
            "name": "check",
            "description": "What date to parse as the current date for the returning data.",
            "allowEmptyValue": true
          }
        ]
      },
      "parameters": []
    },
    "/accounts": {
      "get": {
        "summary": "List Global Accounts",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Returns a list of all record identification numbers for member list purpouses.",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "../models/helpers/RecordNumber.json"
                      }
                    },
                    "error": {
                      "type": "boolean"
                    }
                  },
                  "readOnly": true
                },
                "examples": {
                  "Example": {
                    "value": [
                      2838193,
                      3929319,
                      32891,
                      1,
                      119921,
                      291
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "list-global-accounts",
        "description": "Returns a list of all record identification numbers for member list purpouses.",
        "parameters": [
          {
            "$ref": "../models/helpers/parameters/Client.json"
          },
          {
            "$ref": "../models/helpers/parameters/Signature.json"
          }
        ]
      },
      "parameters": []
    },
    "/accounts/{record}": {
      "get": {
        "summary": "Fetch Global Account",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "../models/global/UniversalUserIdentifier.json"
                    },
                    "error": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "fetch-global-account",
        "parameters": [
          {
            "$ref": "../models/helpers/parameters/Client.json"
          },
          {
            "$ref": "../models/helpers/parameters/Signature.json"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "../models/helpers/parameters/Record.json"
        }
      ],
      "patch": {
        "summary": "Update Global Account",
        "operationId": "update-global-account",
        "parameters": [
          {
            "$ref": "../models/helpers/parameters/Client.json"
          },
          {
            "$ref": "../models/helpers/parameters/Signature.json"
          }
        ]
      }
    },
    "/accounts/{record}/security": {
      "parameters": [
        {
          "$ref": "../models/helpers/parameters/Record.json"
        }
      ],
      "get": {
        "summary": "Fetch Global Account Security",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-global-account-security"
      }
    }
  }
}