{
  "openapi": "3.1.0",
  "info": {
    "title": "Public Developer API",
    "version": "1.0",
    "summary": "The first public facing API for the entire Kelpstone/Kelpcorp francise, including but not limited to, statistics, account data, achievements, quests, forums, linked accounts and so much more.",
    "contact": {
      "name": "Nathanna (a.k.a. \"Piggy\" or \"Tonya)",
      "url": "https://kelpstone.com/forums/players/pigerly/dm?from=apisite&subject=Your%20title%20here.%20%28API%20Inquiry%29&placeholder_2=Describe%20the%20problem%20with%20detail%20and%20show%20code%20or%20urls%20used%20to%20enduce%20the%20API%20erro.%20If%20your%20using%20a%20authorized%20API%2C%20theres%20no%20need%20to%20include%20the%20keys%20or%20values%2C%20unless%20your%20using%20someone%20elses%20Kelpauth%20account%2C%20it%20is%20linked%20to%20your%20Kelpforums%20account."
    },
    "termsOfService": "https://kelpstone.com/legal/policies/terms-of-service",
    "license": {
      "name": "GNU AGPLv3",
      "identifier": "AGPL-3.0-or-later"
    },
    "description": "The first public facing API for the entire Kelpstone/Kelpcorp francise, including but not limited to, statistics, account data, achievements, quests, forums, linked accounts and so much more.\n\n| Property     | Boolean |\n| ------------ | ------  |\n| Maintained   | True    |\n| Supported    | True    |\n| Trial Stage  | Alpha   |\n\n<p align=\"center\">Latest Phasing Information: <a href=\"https://api.kelpstone.com/v1\">AS JSON</a></p>"
  },
  "servers": [
    {
      "url": "http://api.kelpstone.com/public/v1",
      "description": "Primary"
    },
    {
      "url": "https://api.kelpstone.com/public/v1",
      "description": "Secondary (Primary SSL)"
    },
    {
      "url": "https://maintenance.kelpstone.com/api/v1",
      "description": "Maintenance Backup Cache (Previously Executed Requests Only)"
    }
  ],
  "components": {
    "securitySchemes": {
      "Kelpauth® Application Token": {
        "name": "Bearer",
        "type": "apiKey",
        "in": "header",
        "description": "#### Definition\n\nYou can use either `Bearer` to mandatorily suply your developer app's private key token. Unlike user tokens, you may only supply one developer app key at a time... for now. 😉\n\n#### Distrobution\n\nIn order to get a developer app key, you'll need to visit [dap.kelpstone.com (Developer App Portal)](http://dap.kelpstone.com?show=my_apps&tutorial=true), sign into your account and create an application with limited permissions. Unless you want to wait for approval, use the playground permission settings to experiment on your own account.\n\n#### Quicklook"
      },
      "Kelpauth® User-Authorized Tokens": {
        "name": "Authority",
        "type": "apiKey",
        "in": "header",
        "description": "#### Definition\n\nYou can use either `Authorities` or `Authority` to optionally suply user authorized developer app scope tokens. You can include as many tokens as you need, seperated by a comma. It does not matter which header name you use, both allow for one or more items.\n\n#### Distrobution\n\nIn order to get your developer app authorized for control over user account details, you'll need to prompt them first. Authorization methods include, prompting them to run a command ingame or redirecting them to an KelpAuth splash screen which allows them to grant the permisions. Both of which will return a token to the iniating api call's host.\n\n#### Quicklook"
      }
    },
    "schemas": {
      "2faDestination": {
        "description": "A two fractor authorization routing destination array object, used internally and semi-externally by the Kelpauth software family. ",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "examples": {
            "type": "array",
            "items": {
              "required": [],
              "properties": {}
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "record": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "example": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "readOnly": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "example",
                  "description",
                  "readOnly"
                ]
              },
              "owner": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "allOf": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "type",
                        "description",
                        "behavior"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "minLength": 1
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1
                        },
                        "behavior": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "description",
                  "allOf"
                ]
              },
              "hasAccess": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "default": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "readOnly": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "default",
                  "description",
                  "readOnly"
                ]
              },
              "secured": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "properties": {
                    "type": "object",
                    "properties": {
                      "lastUsedCode": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "description": {
                            "type": "string",
                            "minLength": 1
                          },
                          "example": {
                            "type": "string",
                            "minLength": 1
                          },
                          "readOnly": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "description",
                          "example",
                          "readOnly"
                        ]
                      },
                      "lastTimeGenerated": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "format": {
                            "type": "string",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string",
                            "minLength": 1
                          },
                          "example": {
                            "type": "string",
                            "minLength": 1
                          },
                          "readOnly": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "format",
                          "description",
                          "example",
                          "readOnly"
                        ]
                      },
                      "codeHasBeenUsedYet": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "minLength": 1
                          },
                          "default": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string",
                            "minLength": 1
                          },
                          "readOnly": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "default",
                          "description",
                          "readOnly"
                        ]
                      },
                      "completed": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "minLength": 1
                          },
                          "deprecated": {
                            "type": "boolean"
                          },
                          "default": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string",
                            "minLength": 1
                          },
                          "readOnly": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "deprecated",
                          "default",
                          "description",
                          "readOnly"
                        ]
                      }
                    },
                    "required": [
                      "lastUsedCode",
                      "lastTimeGenerated",
                      "codeHasBeenUsedYet",
                      "completed"
                    ]
                  },
                  "readOnly": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "description",
                  "properties",
                  "readOnly"
                ]
              },
              "internal_metadata": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "required": {
                    "type": "array",
                    "items": {
                      "required": [],
                      "properties": {}
                    }
                  },
                  "properties": {
                    "type": "object",
                    "properties": {
                      "external_2fa_query_method": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "minLength": 1
                          },
                          "example": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string",
                            "minLength": 1
                          },
                          "readOnly": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "example",
                          "description",
                          "readOnly"
                        ]
                      }
                    },
                    "required": [
                      "external_2fa_query_method"
                    ]
                  },
                  "readOnly": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "description",
                  "required",
                  "properties",
                  "readOnly"
                ]
              }
            },
            "required": [
              "record",
              "owner",
              "hasAccess",
              "secured",
              "internal_metadata"
            ]
          },
          "required": {
            "type": "array",
            "items": {
              "required": [],
              "properties": {}
            }
          },
          "x-tags": {
            "type": "array",
            "items": {
              "required": [],
              "properties": {}
            }
          }
        },
        "required": [
          "title",
          "type",
          "description",
          "examples",
          "properties",
          "required",
          "x-tags"
        ],
        "x-examples": {
          "example-1": {
            "title": "2faDestinationInsert",
            "type": "object",
            "description": "A two fractor authorization routing destination array object, used internally and semi-externally by the Kelpauth software family. ",
            "examples": [],
            "properties": {
              "record": {
                "type": "integer",
                "example": 29319,
                "description": "A schema-unique identifier for internal databases as well as `POST` object referencing methods.",
                "readOnly": true
              },
              "owner": {
                "description": "If your using `GET` this will contain a UUI schema, optionally when using `POST` you can reference the record number of the UUI to simply things.\n\n*__Note__: Changing data inside the `POST`'s `UniversalUserIdentifier` other than the `id` will not having any affects on the record.*",
                "allOf": [
                  {
                    "type": "string",
                    "description": "You can either use the record id from a UniversalUserIdentifier query if using POST, or use the data inside this object with the UniversalUserIdentifier schema when using GET.",
                    "behavior": "Read Only"
                  },
                  {
                    "$ref": "./UniversalUserIdentifier.json"
                  }
                ]
              },
              "hasAccess": {
                "type": "boolean",
                "default": false,
                "description": "Tells you if the secured object will be present or not.",
                "readOnly": true
              },
              "secured": {
                "type": "object",
                "description": "This data can only be accessed if the target user has authorized your developer app and your using the generated token.",
                "properties": {
                  "lastUsedCode": {
                    "type": [
                      "string",
                      "integer"
                    ],
                    "description": "The generated data that the user needs to enter from their method's authorization app.",
                    "example": "93-A9-A2",
                    "readOnly": true
                  },
                  "lastTimeGenerated": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "When the code was generated; mainly used for cooldowns on the front end.",
                    "example": "2029-02-06 05:55:07",
                    "readOnly": true
                  },
                  "codeHasBeenUsedYet": {
                    "type": "boolean",
                    "default": false,
                    "description": "Has the user entered the code on their side? This lets other login instances know that the code is no longer fresh from the cyber-oven.",
                    "readOnly": true
                  },
                  "completed": {
                    "type": "boolean",
                    "deprecated": true,
                    "default": false,
                    "description": "Prequel to \"codeHasBeenUsedYet\"; too generic.",
                    "readOnly": true
                  }
                },
                "readOnly": true
              },
              "internal_metadata": {
                "type": "object",
                "description": "You can ignore this, unless for some odd reason you'd like to use this data for your own personal caching purpouses. 😏",
                "required": [
                  "external_2fa_query_method"
                ],
                "properties": {
                  "external_2fa_query_method": {
                    "type": "integer",
                    "example": 3,
                    "description": "Tells the internal website system which API to query to generate or confirm the authentication code.",
                    "readOnly": true
                  }
                },
                "readOnly": true
              }
            },
            "required": [
              "record",
              "owner",
              "hasAccess",
              "internal_metadata"
            ],
            "x-tags": [
              "v1/global/2fa"
            ]
          }
        },
        "title": "2faDestination"
      }
    }
  },
  "security": [
    {
      "Kelpauth® Developer Key - In Any Mode": []
    }
  ],
  "tags": [
    {
      "name": "v1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Protocol Information",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Returns information relative to support activity and maintenance status of the V1 API architecture.",
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "protocol",
                        "support",
                        "latest"
                      ],
                      "description": "Returns information relative to support activity and maintenance status of the V1 API architecture.",
                      "properties": {
                        "protocol": {
                          "type": "object",
                          "required": [
                            "identifier",
                            "name",
                            "subversions"
                          ],
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "subversions": {
                              "type": "array",
                              "minItems": 1,
                              "uniqueItems": true,
                              "items": {
                                "type": "string",
                                "example": "1.0.3",
                                "format": "version",
                                "pattern": "^[0-9._-]+",
                                "minLength": 6,
                                "default": "1.0.3",
                                "readOnly": true
                              },
                              "readOnly": true
                            }
                          }
                        },
                        "support": {
                          "type": "object",
                          "required": [
                            "cycleStart",
                            "notRecommended",
                            "onlyCriticalBugs",
                            "cycleEnd"
                          ],
                          "properties": {
                            "cycleStart": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true
                            },
                            "notRecommended": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "readOnly": true
                            },
                            "onlyCriticalBugs": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "readOnly": true
                            },
                            "cycleEnd": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "readOnly": true
                            }
                          },
                          "readOnly": true
                        },
                        "latest": {
                          "type": [
                            "boolean",
                            "null"
                          ],
                          "description": "Checks if the protocol is the latest recommended version, excludes beta programs and enterprise customized versions.",
                          "readOnly": true
                        }
                      },
                      "readOnly": true
                    },
                    "error": {
                      "type": "boolean",
                      "default": false,
                      "description": "Responds with true or false depending if the API's backend ran into an error with the parameters or permissions checks.",
                      "readOnly": true
                    }
                  },
                  "required": [
                    "result",
                    "error"
                  ],
                  "readOnly": true
                },
                "examples": {
                  "Example": {
                    "value": {
                      "result": {
                        "protocol": {
                          "identifier": "string",
                          "name": "string",
                          "subversions": [
                            "1.0.0",
                            "1.0.1",
                            "1.0.2",
                            "1.0.3",
                            "1.0.4"
                          ]
                        },
                        "support": {
                          "cycleStart": "2014-08-29 16:19:50",
                          "notRecommended": "2009-09-14 11:27:06",
                          "onlyCriticalBugs": "2016-10-29 01:32:34",
                          "cycleEnd": "2023-02-18 23:32:16"
                        },
                        "latest": true
                      },
                      "error": false
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-protocol-info",
        "description": "Returns information relative to support activity and maintenance status of the V1 API architecture.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "check",
            "description": "What date to parse as the current date for the returning data."
          }
        ]
      },
      "parameters": []
    },
    "/accounts": {
      "get": {
        "summary": "List Global Accounts",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Returns a list of all record identification numbers for member list purpouses.",
                  "items": {
                    "type": "number",
                    "example": 2838193,
                    "readOnly": true
                  },
                  "readOnly": true
                },
                "examples": {
                  "Example": {
                    "value": [
                      2838193,
                      3929319,
                      32891,
                      1,
                      119921,
                      291
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-users",
        "description": "Returns a list of all record identification numbers for member list purpouses."
      },
      "parameters": []
    },
    "/accounts/{recordNumber}": {
      "get": {
        "summary": "Get Global Account",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "../models/UniversalUserIdentifier.json"
                    },
                    "error": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-global-account"
      },
      "parameters": [
        {
          "schema": {
            "type": "number",
            "example": 83838
          },
          "name": "recordNumber",
          "in": "path",
          "required": true,
          "description": "The identification number of the account your trying to get."
        }
      ],
      "patch": {
        "summary": "",
        "operationId": "patch-global-account",
        "security": [
          {
            "Kelpauth® Application Token": []
          }
        ]
      }
    }
  }
}