{
  "openapi": "3.1.0",
  "info": {
    "title": "Public Developer API",
    "version": "1.0.0",
    "summary": "The first public facing API for the entire Kelpstone/Kelpcorp francise, including but not limited to, statistics, account data, achievements, quests, forums, linked accounts and so much more.",
    "contact": {
      "name": "Nathanna (a.k.a. \"Piggy\" or \"Tonya)",
      "url": "https://kelpstone.com/forums/players/pigerly/dm?from=apisite&subject=Your%20title%20here.%20%28API%20Inquiry%29&placeholder_2=Describe%20the%20problem%20with%20detail%20and%20show%20code%20or%20urls%20used%20to%20enduce%20the%20API%20erro.%20If%20your%20using%20a%20authorized%20API%2C%20theres%20no%20need%20to%20include%20the%20keys%20or%20values%2C%20unless%20your%20using%20someone%20elses%20Kelpauth%20account%2C%20it%20is%20linked%20to%20your%20Kelpforums%20account."
    },
    "termsOfService": "https://kelpstone.com/legal/policies/terms-of-service",
    "license": {
      "name": "GNU AGPLv3",
      "identifier": "AGPL-3.0-or-later"
    },
    "description": "The first public facing API for the entire Kelpstone/Kelpcorp francise, including but not limited to, statistics, account data, achievements, quests, forums, linked accounts and so much more.\n\n__Maintained:__ Yes"
  },
  "servers": [
    {
      "url": "http://api.kelpstone.com/public/v1",
      "description": "Primary"
    },
    {
      "url": "https://api.kelpstone.com/public/v1",
      "description": "Secondary (Primary SSL)"
    },
    {
      "url": "https://maintenance.kelpstone.com/api/v1",
      "description": "Maintenance Limited API"
    }
  ],
  "components": {
    "securitySchemes": {
      "Kelpauth Key - In Query Mode": {
        "name": "key",
        "type": "apiKey",
        "in": "query"
      },
      "Kelpauth Key - In Header Mode": {
        "name": "Kelpauth-Key",
        "type": "apiKey",
        "in": "header"
      },
      "Kelpauth Key - In Cookie Mode": {
        "name": "KA_KEY",
        "type": "apiKey",
        "in": "cookie",
        "description": ""
      }
    }
  },
  "security": [
    {
      "Kelpauth® Developer Key - In Any Mode": []
    },
    {
      "Kelpauth® Developer Key (Header)": []
    },
    {
      "Kelpauth® Developer Key (Cookie)": []
    }
  ],
  "tags": [
    {
      "name": "v1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API Protocol Information",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Returns information relative to support activity and maintenance status of the V1 API architecture.",
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "protocol",
                        "support",
                        "latest"
                      ],
                      "description": "Returns information relative to support activity and maintenance status of the V1 API architecture.",
                      "properties": {
                        "protocol": {
                          "type": "object",
                          "required": [
                            "identifier",
                            "name",
                            "subversions"
                          ],
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "subversions": {
                              "type": "array",
                              "minItems": 1,
                              "uniqueItems": true,
                              "items": {
                                "type": "string",
                                "example": "1.0.3",
                                "format": "version",
                                "pattern": "^[0-9._-]+",
                                "minLength": 6,
                                "default": "1.0.3",
                                "readOnly": true
                              },
                              "readOnly": true
                            }
                          }
                        },
                        "support": {
                          "type": "object",
                          "required": [
                            "cycleStart",
                            "notRecommended",
                            "onlyCriticalBugs",
                            "cycleEnd"
                          ],
                          "properties": {
                            "cycleStart": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true
                            },
                            "notRecommended": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "readOnly": true
                            },
                            "onlyCriticalBugs": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "readOnly": true
                            },
                            "cycleEnd": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "readOnly": true
                            }
                          },
                          "readOnly": true
                        },
                        "latest": {
                          "type": [
                            "boolean",
                            "null"
                          ],
                          "description": "Checks if the protocol is the latest recommended version, excludes beta programs and enterprise customized versions.",
                          "readOnly": true
                        }
                      },
                      "readOnly": true
                    },
                    "error": {
                      "type": "boolean",
                      "default": false,
                      "description": "Responds with true or false depending if the API's backend ran into an error with the parameters or permissions checks.",
                      "readOnly": true
                    }
                  },
                  "required": [
                    "result",
                    "error"
                  ],
                  "readOnly": true
                },
                "examples": {
                  "Example": {
                    "value": {
                      "result": {
                        "protocol": {
                          "identifier": "string",
                          "name": "string",
                          "subversions": [
                            "1.0.0",
                            "1.0.1",
                            "1.0.2",
                            "1.0.3",
                            "1.0.4"
                          ]
                        },
                        "support": {
                          "cycleStart": "2014-08-29 16:19:50",
                          "notRecommended": "2009-09-14 11:27:06",
                          "onlyCriticalBugs": "2016-10-29 01:32:34",
                          "cycleEnd": "2023-02-18 23:32:16"
                        },
                        "latest": true
                      },
                      "error": false
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-home",
        "description": "Returns information relative to support activity and maintenance status of the V1 API architecture.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "check",
            "description": "What date to parse as the current date for the returning data."
          }
        ]
      },
      "parameters": []
    }
  }
}